<!-- {% assign posts = site.posts %}
{% if site.paginate > 0 %}{% assign posts = paginator.posts %}{% endif %}

<section id="posts" class="posts-expand">
  {% for post in posts %}
    {% assign is_index = true %}
    {% include _macro/post.html %}
  {% endfor %}
</section>

{% include _partials/pagination.html %} -->

<el-row>
  <div>
    <font size="5"><b> About </b></font>

    <p style="font-size:15px" line-height:20px>I am currently a Ph.D. student in School of Computing and Artificial Intelligence at <a href="https://www.swjtu.edu.cn/">Southwest Jiaotong University</a>, supervised by <a href="https://faculty.swjtu.edu.cn/wuxiao1/zh_CN/index/111673/list/index.htm">Prof. Xiao Wu</a>.<br>
    In 2018.9-2019.9, I was a Research Intern in <a href="https://www.msra.cn/">Microsoft Research Asia</a>, mentored by <a href="https://scholar.google.com/citations?hl=zh-CN&user=NSJY12IAAAAJ&view_op=list_works&sortby=pubdate">Qi Dai</a>. </p>

  </div>
</el-row>
<el-row>
  <div>
    <font size="5"><b> Publications </b></font>
    <p style="font-size:15px" line-height:20px>1. Learning spatial awareness to improve crowd counting. (ICCV 2019)<br>
    2. Improving the learning of multi-column convolutional neural network for crowd counting. (ACM MM 2019)<br>
    3. Learning to transfer: Generalizable attribute learning with multitask neural model search. (ACM MM 2018)</p>
    <!-- <ol>
      <li>Learning spatial awareness to improve crowd counting. (ICCV 2019)</li>
      <li>Improving the learning of multi-column convolutional neural network for crowd counting. (ACM MM 2019)</li>
      <li>Learning to transfer: Generalizable attribute learning with multitask neural model search. (ACM MM 2018)</li>
    </ol> -->
  </div>
</el-row>

